.dummy-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  justify-content: space-evenly;
 
}

.title {
  align-self: center;
}

.employee-info-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.employee-info {
  flex-wrap: wrap;
    flex: 1 1;
    display: flex;
    justify-content: space-around;
}

.reasons-for-leave {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


